.car-detail-content
{
  overflow: auto;
}

.brand-head {
  margin:0;
  min-height: 200px;
}

.brand-title {
  color: rgba(255, 255, 255, 0.80);
  padding: 60px 75px 0px 75px;
}

.brand-rating {
  color: rgba(255, 255, 255, 0.70);
  padding: 0px 79px;
}

.brand-content
{
  max-width: 70%;
}

.brand-image {
  float:right;
  border-color: #111;
  border-style: solid;
  border-width: 1px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right:75px;
  max-width: 380px;
  padding:5px;
}
