:host {
  display: block;
  padding: 0;
  margin:0;
  min-height: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.car-menu {
  background-color: #111;
  float: left;
  width: 250px;
  min-height: 100%;
  max-width: 260px;
  margin: 0;
  padding: 1em;
  border-color: orange;
  border-style: solid;
  border-width: 0 0 2px;
}

.car-menu h2 {
    color: rgba(255, 255, 255, 0.80);
    margin-left: 10px;
    padding: 20px 5px;
}

.car-menu li, a
{
  list-style: none;
  margin-left: 10px;
  padding: 20px 5px;
  color: rgba(255, 255, 255, 0.50);
  text-decoration: none;
}

.car-menu a:hover
{
  cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
}

.about-content
{
  margin-left:270px;
  padding: 1em;
  border-color: #111;
  background-color: #111;
  border-style: solid;
  border-width: 0px 0px 1px 1px;
  height:100%;
  width: auto;
  border-color: orange;
  border-style: solid;
  border-width: 0 0 2px;
}
